[Unit]
Description=emmc_mount
After=systemd-networkd.service


[Service]
Type=forking
ExecStart=/bin/sh /usr/bin/emmc_mount.sh

[Install]
WantedBy=multi-user.target
Alias=emmc_mount.service
