[Desktop Entry]
Name=System Info
Name[zh_TW]=系统信息
Name[zh_CN]=系统信息

Type=Application
Icon=/usr/share/pixmaps/system192.png
Exec=/home/myir/mxinfo --platform linuxfb
Terminal=false
MimeType=application/x-directory;inode/directory;
Categories=System;FileTools;Utility;Qt;FileManager;
